<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | Home</title>
	</head>

	<body>
		<h1>Sample App</h1>
		<a href="http://railstutorial.org/">Ruby on Rails tutoria</a> sample application
		</p>
	</body>
</html>